.u-section-1 .u-sheet-1 {
  min-height: 568px;
}

.u-section-1 .u-group-1 {
  width: 965px;
  min-height: 468px;
  margin: 50px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: Raleway, sans-serif;
  font-weight: 900;
  margin: 29px auto 0;
}

.u-section-1 .u-image-1 {
  width: 270px;
  height: 271px;
  margin: 29px auto 0 193px;
}

.u-section-1 .u-text-2 {
  margin: -216px 513px 0 204px;
}

.u-section-1 .u-image-2 {
  width: 270px;
  height: 271px;
  margin: -217px auto 0 502px;
}

.u-section-1 .u-text-3 {
  margin: -205px 204px 0 513px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 181px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 512px;
    margin-left: 180px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 490px;
  }

  .u-section-1 .u-text-3 {
    width: 248px;
    margin-left: 488px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-group-1 {
    min-height: 445px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-left: 65px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -217px;
    margin-right: 396px;
    margin-left: 76px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 385px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -204px;
    margin-right: 76px;
    margin-left: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 193px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 292px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-left: 270px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 292px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-1 .u-group-1 {
    min-height: 710px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: 248px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 89px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: 248px;
    margin-left: auto;
    margin-right: auto;
  }
}0